/* DESKTOP AND MAJOR STYLES */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  color: #3b3037;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: #3b3037;
}

.head_img {
  border-radius: 100px;
}

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 2em;
}

h3,
p {
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 1.5;
}

h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  font-style: italic;
  margin: 10px 0 10px 0;
}

p {
  margin-top: 50px;
  font-size: 20px;
}

button {
  font-size: 20px;
  width: 200px;
  height: 40px;
  margin: 20px 101px;
  outline: none;
  border: 2px solid gray;
  position: absolute;
  bottom: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 250px auto 100px;
}

.cont {
  width: 50vw;
  margin: 0 auto;
  background-color: red;
}

.bac {
  background-color: rgba(243, 242, 242, 0.856);
  width: 100vw;
}

/* NAV STYLES */

.nav {
  padding-top: 70px;
}

.trex {
  font-size: 25px;
  padding: 0 15px;
  float: right;
}

.footer {
  text-align: center;
}

/* PROJECT STYLES */

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 450px 450px 450px 250px;
  grid-gap: 100px;
  margin: 50px auto;
}

.res {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
  grid-gap: 20px;
  padding-top: 30px;
  border-top: 5px solid #3b3037;
}

.reh {
  position: relative;
}

.thumb {
  width: 100%;
  height: 100%;
  border: 15px solid rgba(224, 224, 224, 0.657);
}

.soc {
  margin: 0 auto;
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.fic {
  margin: 25px auto;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 10px;
}

.tiy {
  margin-top: 15px;
  font-size: 25px;
  font-weight: bolder;
  color: white;
}

.fab {
  margin: 29px auto;
  color: white;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 600px) {
  /* DESKTOP AND MAJOR STYLES */
  h1 {
    font-size: 2.5em;
    margin: 32px 10px;
  }
  h2 {
    font-size: 2em;
  }
  h3,
  p {
    line-height: 1.3;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 17px;
  }
  p {
    margin-top: 30px;
  }
  button {
    margin: 5px 95px;
  }
  .wrapper {
    grid-template-rows: 50px 250px auto 100px;
  }
  .cont {
    width: 100vw;
  }
  /* NAV STYLES */
  .nav {
    padding-top: 20px;
    text-align: center;
  }
  .trex {
    float: none;
  }
  /* PROJECT STYLES */
  .projects {
    grid-template-rows: 800px 800px 800px 250px;
    grid-gap: 100px;
  }
  .res {
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
    margin: 10px 10px;
  }
  .soc {
    width: 100vw;
    display: grid;
  }
  .fic {
    margin: 25px auto;
    width: 170px;
    height: 170px;
  }
  .tiy {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
  }
}

/* TABLET STYLES */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* DESKTOP AND MAJOR STYLES */
  h1 {
    font-size: 3em;
  }
  .wrapper {
    grid-template-rows: 70px 230px auto 100px;
    width: 100vw;
  }
  .cont {
    width: 100vw;
    padding: 0 70px;
  }
  /* NAV STYLES */
  .nav {
    padding-top: 40px;
  }
  /* PROJECT STYLES */
  .projects {
    grid-gap: 50px;
  }
  .res {
    grid-template-columns: 1fr 1fr;
  }
  .soc {
    width: 60vw;
  }
}
